<div xmlns:th="http://www.thymeleaf.org">
    <div class="container my-3">
        <div class="row">
            <div>
                <h1 class="display-3 p-5 font-weight-bold">Actors</h1>
            </div>
        </div>
        <div class="row" sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="btn">
                <a class="btn btn-block" href="/actors/add-actor" style="color: black; background-color: white">
                    <i class="fa fa-plus"></i> Add new actor
                </a>
            </div>
        </div>
    </div>
    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">First name</th>
                            <th scope="col">Last name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Country of Origin</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody th:each="actor : ${actors}">
                            <td th:text="${actor.getFirstName()}"></td>
                            <td th:text="${actor.getLastName()}"></td>
                            <td th:text="${actor.getAge()}"></td>
                            <td th:text="${actor.getCountryOfOrigin()}"></td>
                            <td class="text-right">
                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                    <form th:action="@{'/actors/delete/{id}' (id=${actor.getId()})}"
                                          th:method="DELETE">
                                        <button class="btn btn-sm btn-danger"
                                                type="submit">
                                            <i class="fa fa-trash"> </i> Delete
                                        </button>
                                    </form>
                                </th:block>
                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                    <a class="btn btn-sm btn-info"
                                       style="color: white"
                                       th:href="@{'/actors/edit-actor/{id}' (id=${actor.getId()})}">
                                        <i class="fa fa-pencil-square-o"> </i> Edit
                                    </a>
                                </th:block>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
