<th:block xmlns="http://www.w3.org/1999/xhtml">
    <a type="button" class="btn text-danger font-weight-bold float-right" style="margin-right: 33%; margin-top:1%"
       href="/theatres">
        <i class="fa fa-times" aria-hidden="true"></i>
        Exit form
    </a>
    <div class="container" style="padding: 40px 0 20px 0; width: 33%">
        <form action="/theatres/add" method="POST">
            <input id="id" name="id" th:value="(${theatre} != null ? ${theatre.getId()} : '')" type="hidden">
            <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" id="name" name="name"
                       th:value="(${theatre} != null ? ${theatre.getName()} : '')"
                       type="text"
                       placeholder="Enter the theatre's name here."
                >
            </div>

            <div class="mb-3">
                <label class="form-label" for="city">City</label>
                <input class="form-control" id="city" name="city"
                       th:value="(${theatre} != null ? ${theatre.getCity()} : '')"
                       type="text"
                       placeholder="Enter the theatre's city here."
                >
            </div>

            <div class="mb-3">
                <label class="form-label" for="address">Address</label>
                <input class="form-control" id="address" name="address"
                       th:value="(${theatre} != null ? ${theatre.getAddress()} : '')"
                       type="text"
                       placeholder="Enter the theatre's address here."
                >
            </div>

            <div class="mb-3">
                <label class="form-label" for="movieTheatreHalls">Theatre halls</label>
                <input class="form-control" id="movieTheatreHalls" name="movieTheatreHalls"
                       th:value="(${theatre} != null ? ${theatre.getMovieTheatreHalls()} : '')"
                       type="number"
                       placeholder="Enter the theatre's number of halls here."
                >
            </div>

            <button class="btn btn-primary" id="submit" type="submit">Submit</button>
        </form>
    </div>
</th:block>