<th:block xmlns="http://www.w3.org/1999/xhtml">
    <div class="container">
        <form action="/movies/add" method="POST">
            <input id="id" name="id" th:value="(${movies} != null ? ${movies.getId()} : '')" type="hidden">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" id="title" name="title"
                       th:value="(${movies} != null ? ${movies.getTitle()} : '')"
                       type="text">
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <input class="form-control" id="description" name="description"
                       th:value="(${movies} != null ? ${movies.getDescription()} : '')"
                       type="text">
            </div>
            <div class="mb-3">
                <label class="form-label" for="duration">Duration</label>
                <input class="form-control" id="duration" name="duration"
                       th:value="(${movies} != null ? ${movies.getDuration()} : '')"
                       type="text">
            </div>

            <div class="form-group">
                <label for="language">Language</label>
                <select class="form-control" id="language" name="language">
                    <option th:each="language : ${languages}"
                            th:selected="${movie != null ? movie.language.toString().equals(language.toString()) : null}"
                            th:text="${language}"
                            th:value="${language}">
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
                <input class="form-control" id="price" name="price"
                       th:value="(${movies} != null ? ${movies.getPrice()} : '')"
                       type="text">
            </div>
            <div class="mb-3">
                <label class="form-label" for="releaseDate">Release Date</label>
                <input class="form-control" id="releaseDate" name="releaseDate"
                       th:value="(${movies} != null ? ${movies.getReleaseDate()} : '')"
                       type="date">
            </div>
            <div class="form-group">
                <label for="genre">Genres</label>
                <select class="form-control" id="genre" name="genre">
                    <option th:if="${movies} != null"
                            th:selected="${movies.getGenre() != null && movies.getGenre().getId() == genre.getId()}"
                            th:each="genre : ${genres}"
                            th:text="${genre.getName()}"
                            th:value="${genre.getId()}">
                    </option>
                    <option th:if="${movies} == null"
                            th:each="genre : ${genres}"
                            th:text="${genre.getName()}"
                            th:value="${genre.getId()}">
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="theatres">Theatres</label>
                <select class="form-control" id="theatres" name="theatres" multiple="multiple">
                    <option th:if="${movies} != null"
                            th:each="theatre : ${theatres}"
                            th:selected="${movies.getTheatres() != null && movies.getTheatres().contains(theatre)}"
                            th:text="${theatre.getName()}"
                            th:value="${theatre.getId()}">
                    </option>
                    <option  th:if="${movies} == null"
                             th:each="theatre : ${theatres}"
                            th:text="${theatre.getName()}"
                            th:value="${theatre.getId()}">
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="actors">Actors</label>
                <select class="form-control" id="actors" name="actors"  multiple="multiple">
                    <option th:if="${movies} != null"
                            th:each="actor : ${actors}"
                            th:selected="${movies.getActors() != null && movies.getActors().contains(actor)}"
                            th:text="${actor.getFirstName()}"
                            th:value="${actor.getId()}">
                    </option>
                    <option th:if="${movies} == null"
                            th:each="actor : ${actors}"
                            th:text="${actor.getFirstName()}"
                            th:value="${actor.getId()}">
                    </option>
                </select>
            </div>

            <button class="btn btn-primary" id="submit" type="submit">Submit</button>
        </form>
    </div>
</th:block>