<th:block xmlns:th="http://www.thymeleaf.org">
        <div class="row d-flex justify-content-center">
            <h2 class="display-5 font-weight-bold py-5">Interest list for
                <th:block th:if="${#request.getRemoteUser() != null}" th:text="${#authentication.getPrincipal().getFirstName()}"></th:block>
            </h2>
        </div>

    <div th:if="${hasError}">
        <h5 class="text-center text-danger" th:text="${error}"></h5>
    </div>

    <div class="container mb-4">
        <div th:if="${movies.size() > 0}" class="row" style="display: flex; flex-wrap:wrap; align-content: flex-start;">
               <div class="card bg-warning m-3" th:each="movie : ${movies}">
                   <div class="card-header" th:text="${movie.getTitle()}" style="font-weight: bold"></div>
                   <div class="card-body">
                       <p class="card-text" th:text="${movie.getDescription()}"></p>
                       <div>
                          <b><p th:text="${movie.getGenre() != null} ? ${movie.genre.name} : ''"></p></b>
                           <hr>
                           <div>
                               <p><b>You can watch it in: </b></p>
                               <div th:each="theatre,iterStat : ${movie.getTheatres()}">
                                   <small>
                                       <b>
                                           <th:block th:text="${theatre.city}"/>
                                       </b>
                                   </small>
                                   <p th:text="${theatre.name} + ${!iterStat.last ? ', ' : ''}"></p>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
        </div>
    </div>
</th:block>


