<th:block xmlns:th="http://www.thymeleaf.org">
        <div class="row d-flex justify-content-center">
            <h2 class="display-5 font-weight-bold py-5">Interest list for
                <th:block th:if="${#request.getRemoteUser() != null}" th:text="${#authentication.getPrincipal().getFirstName()}"></th:block>
            </h2>
        </div>

    <div th:if="${hasError}">
        <h5 class="text-center text-danger" th:text="${error}"></h5>
    </div>

    <div class="container mb-4">
        <div class="row">
           <div class="col-12" th:if="${movies.size() > 0}">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Price</th>
                            <th scope="col">Genre</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="movie : ${movies}" class="interestList-item">
                            <td th:text="${movie.getTitle()}"></td>
                            <td th:text="${movie.getPrice()}"></td>
                            <td th:text="${movie.getGenre() != null} ? ${movie.getGenre().getName()} : 'No Genre'"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</th:block>


