<div xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Movies</h1>
        </div>
    </section>

    <div class="container mb-4" th:if="${movies.size() > 0}">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Price</th>
                            <th scope="col">Genre</th>
                            <th scope="col">Language</th>
                            <th scope="col">Theatres</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="interestList-item" th:each="movie : ${movies}">
                            <td th:text="${movie.getTitle()}"></td>
                            <td th:text="${movie.getPrice()}"></td>
                            <td th:text="${movie.getGenre() != null} ? ${movie.genre.name} : ''"></td>
                            <td th:text="${movie.getLanguage() != null} ? ${movie.language} : ''"></td>
                            <!--                            <td th:text="${movie.getTheatres() != null} ? ${movie.getTheatres().getName()} : 'No Theatres available'"></td>-->
                            <td class="text-right">
                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                    <form th:action="@{'/movies/delete/{id}' (id=${movie.getId()})}"
                                          th:method="DELETE">
                                        <button class="btn btn-sm btn-danger delete-product"
                                                type="submit">
                                            <i class="fa fa-trash">Delete</i>
                                        </button>
                                    </form>
                                </th:block>
                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                    <a class="btn btn-sm btn-info edit-product"
                                       th:action="@{'/movies/edit-movie/{id}' (id=${movie.getId()})}">
                                        <i class="fa fa-trash">Edit</i>
                                    </a>
                                </th:block>
                                <form th:action="@{'/movies/add'}"
                                      th:method="POST">
                                    <button class="btn btn-sm btn-primary cart-product"
                                            type="submit">
                                        <i class="fa fa-trash">Add movies to interest list</i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col mb-3">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <a class="btn btn-block btn-dark add-product-btn" th:action="@{'/movies/add-movie'}">
                            Add new movie
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
