<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Categories</title>
    <meta charset="utf-8"/>
</head>
<style>
    ul .listItem {
        list-style-type: none;
    }
</style>
<body>
<div class="d-grid gap-3">
<h2 class="px-2">Genres</h2>
<ul>
    <li class="listItem p-3 border" th:each="theatre: ${theatres}">
        <th:block th:text="${theatre.name}"/>
        (
        <th:block th:text="${theatre.city}"/>
        ,
        <th:block th:text="${theatre.address}"/>
        )
    </li>
</ul>
</div>
</body>
</html>
