<div xmlns:th="http://www.thymeleaf.org">
    <div class="float-right">
        <div class="px-4">
            <form class="py-2" id="filter-theatres-city">
                <div class="row">
                    <div class="col-sm-8">
                        <input class="form-control" id="city" name="city" placeholder="Search by city"
                               type="text">
                    </div>
                    <div>
                        <button class="btn" id="filter-city" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="px-4">
            <form class="py-2" id="filter-theatres-name">
                <div class="row">
                    <div class="col-sm-8">
                        <input class="form-control" id="name" name="name" placeholder="Search by name"
                               type="text">
                    </div>
                    <div>
                        <button class="btn" id="filter-name" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container my-3">
        <div class="row">
            <div>
                <h1 class="display-3 pt-5 px-3 pb-2 font-weight-bold">Movie Theatres</h1>
            </div>
        </div>
        <div class="row" sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="btn">
                <a class="btn btn-block" href="/theatres/add-theatre" style="color: black; background-color: white">
                    <i class="fa fa-plus"></i> Add new theatre
                </a>
            </div>
        </div>
    </div>

    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">City</th>
                            <th scope="col">Address</th>
                            <th scope="col">Theatre Halls</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody th:each="theatre : ${theatres}">
                        <td th:text="${theatre.getName()}"></td>
                        <td th:text="${theatre.getCity()}"></td>
                        <td th:text="${theatre.getAddress()}"></td>
                        <td th:text="${theatre.getMovieTheatreHalls()}"></td>
                        <td class="text-right">
                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                <form th:action="@{'/theatres/delete/{id}' (id=${theatre.getId()})}"
                                      th:method="DELETE">
                                    <button class="btn btn-sm btn-danger"
                                            style="width: 80px"
                                            type="submit">
                                        <i class="fa fa-trash"> </i> Delete
                                    </button>
                                </form>
                            </th:block>
                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                <a class="btn btn-sm btn-info"
                                   style="color: white"
                                   th:href="@{'/theatres/edit-theatre/{id}' (id=${theatre.getId()})}">
                                    <i class="fa fa-pencil-square-o"> </i> Edit
                                </a>
                            </th:block>
                        </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
